<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demogame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8064F0261C9F89E400A3A1C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8064F03E1C9F89E400A3A1C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8064F0491C9F89E400A3A1C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
